dotenv .env

if [ -z "${PYTHON_VERSION}" ]; then
  echo "PYTHON_VERSION is not set!"
  exit 1
fi

VENV_DIR="venv${PYTHON_VERSION}"
if [ ! -d "$VENV_DIR" ]; then
  echo "Python virtualenv does not exist, creating..."
  rm -rf venv*
  python"${PYTHON_VERSION}" -m venv "$VENV_DIR"
  source "$VENV_DIR"/bin/activate
  pip install -r requirements.txt
fi

# Activating python venv
source "$VENV_DIR"/bin/activate
